#homePane{
	/*-fx-background-image: url("UnchainedMainPage.png");
    -fx-bakground-radius: 10 10 10 10;
    -fx-background-repeat: stretch;   
    -fx-background-size: 1025 720;
    -fx-background-position: center;
    -fx-background-color: rgb(196, 213, 255); */
}
#loginPane{
	-fx-background-radius: 10 10 10 10;
	-fx-background-color: #ffffff;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 10, 0.5 , 0, 0 );
}
#graphScene{
	-fx-background-image: url("Tire_Track.png");
    -fx-background-repeat: stretch;   
    -fx-background-size: 1080 720;
    -fx-background-position: center;
}
#graphButtons{
	/*-fx-background-radius: 10 10 10 10;*/
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 5, 3 );
	-fx-background-color: rgba(255, 255, 255, .85);
	-fx-text-fill: white;
	-fx-border: solid 1px #ffffff;
	-fx-border-radius: 10 10 10 10;
	-fx-box-shadow: 0px 6px 0px 
}
#graphHover{
	/*-fx-background-radius: 10 10 10 10; */
	-fx-background-color: rgba(255, 255, 255, 1);
	-fx-text-fill: white;
}
#graphClick{
	/*-fx-background-radius: 10 10 10 10;*/
	-fx-background-color: rgb(178, 178, 178, .95);
	-fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 4 , 2 );
}
#menuBar{
	-fx-background-color: rgb(178, 178, 178, .95);
}
#buttons{
	 -fx-background-color: rgba(216, 216, 216, 1);
    -fx-background-radius: 0,0,0,0;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-text-fill: Black;
    -fx-font-size: 12px;
    -fx-padding: 10 10 10 10;
}
#enterButton{
	 -fx-background-color: rgba(230, 230, 230, 1);
    -fx-background-radius: 0,0,0,0;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-text-fill: rgba(0, 0, 0, .75);
    -fx-font-size: 40px;
    -fx-padding: 10 10 10 10;
}
#enterButtonPressed{
	 -fx-background-color: rgba(200, 200, 200, 1);
    -fx-background-radius: 0,0,0,0;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-font-family: "Arial";
    -fx-text-fill: rgba(0, 0, 0, .90);
    -fx-font-size: 35px;
    -fx-padding: 10 10 10 10;
}

#buttonsPressed{
	-fx-background-color: rgba(216, 216, 216, .5);
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: Black;
    -fx-font-size: 12px;
    -fx-padding: 10 10 10 10;
}
#serverStatus{
	-fx-font-family: "Impact";
    -fx-text-fill: rgba(80, 80, 80, 1);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
    -fx-font-size: 35px;
}